<!-- uso de la plantilla base -->
{% extends "base.html" %}
    <!-- titulo dinamico -->
    {% block title %}Index{% endblock %}

    {% block content %}
        <div class="mt-5">
            <div class="album">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-3" style="max-width: 580px;">
                            <div class="row">
                              <div class="col-md-5">
                                <img src="https://via.placeholder.com/155x279?text=Placeholder" alt="...">
                              </div>
                              <div class="col-md-7">
                                <div class="card-body">
                                  <h5 class="card-title">MI NOMBRE</h5>
                                  <small class="text"><span class="badge badge-danger rounded-circle">  </span> Dead - Alien</small><br>
                                  <div>
                                    <p class="card-text">
                                        <small class="text-muted">Last know location:</small><br>
                                        <small>
                                            This is a wider card with supporting text
                                        </small>     
                                    </p>
                                  </div>
                                  <div >
                                    <p class="card-text">
                                        <small class="text-muted">first see in:</small><br>
                                        <small>
                                            This is a wider card with supporting text
                                        </small>     
                                    </p>
                                  </div>

                                  <a type="button" class="btn btn-sm btn-outline-secondary mt-1" href="">Detalles</a>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">

                    </div>
                </div>
            </div>
            
        </div>
    {% endblock %}

    {% block scripts %}
    {% endblock %}